:root{
--color-gray: rgb(168, 168, 168);
--color-light-green:rgb(233, 245, 222);
--color-selected-card: beige;
--bordercolor-selected-size: rgb(0, 80, 0);
--bgcolor-selected-size: rgba(221, 255, 158, 0.952);
}

.sizes-container {
width: 4rem;
padding-inline: 0.5rem;
margin-inline: 0.25rem;
border: 1px solid var(--color-gray);
border-radius: 15px;
text-align: center;
}
.series-item{
color: var(--color-gray);
}
.selected.card {
border: 2px solid var(--color-gray);
background-color: var(--color-selected-card);
  }
.selected.card>.card-body>.sizes-container{
    border: 2px solid rgb(255, 255, 255);
}
.selected.card>.card-body>.sizes-container.selected-size{
    border: 2px solid var(--bordercolor-selected-size);
    background-color: var(--bgcolor-selected-size);    
    color: rgb(0, 0, 0)
}


.fs-8.card-body{
    padding-inline: 0.10rem;
    margin-inline: 0;
}